<!-- Fullwidth Slider -->
<div class="fullwidth-slider owl-carousel bg-lightblue">

    <!-- Slide Item -->
    <section class="page-section bg-lightblue white">
        <div class="container relative">

            <div class="row">

                <div class="col-md-8 mb-sm-40">

                    <!-- Work Image -->
                    <div class="work-full-media mt-0">
                        <img src="{{ site.baseurl }}/img/animation/animation-pd01.png" alt="" />
                    </div>
                    <!-- End Work Image -->

                </div>

                <div class="col-md-5 col-lg-4 col-lg-offset-1">

                    <!-- About Project -->
                    <div class="text">
                        <h3 class="mt-40 mb-xxs-10 white">El subsidio a los combustibles se encuentra altamente concentrado en pocas manos.</h3>
                    </div>
                    <!-- End About Project -->

                </div>

            </div>

        </div>
    </section>
    <!-- End Slide Item -->

    <!-- Slide Item -->
    <section class="page-section bg-gray">
        <div class="container relative">

            <div class="row">

                <div class="col-md-7 mb-sm-40">

                    <!-- Work Image -->
                    <div class="work-full-media mt-0">
                        <img src="images/portfolio/full-project-4.jpg" alt="" />
                    </div>
                    <!-- End Work Image -->

                </div>

                <div class="col-md-5 col-lg-4 col-lg-offset-1">

                    <!-- About Project -->
                    <div class="text">
                        <h3 class="font-alt mb-30 mb-xxs-10">Creative Project</h3>
                        <p>
                            Phasellus facilisis mauris vel velit molestie pellentesque. Donec rutrum, tortor ut elementum venenatis, purus magna bibendum nisl, ut accumsan ipsum erat eu sapien.
                        </p>

                        <div class="mt-40">
                            <a href="#" class="btn btn-mod btn-border btn-round btn-medium" target="_blank">View online</a>
                        </div>

                    </div>
                    <!-- End About Project -->

                </div>

            </div>

        </div>
    </section>
    <!-- End Slide Item -->

</div>
<!-- End Fullwidth Slider -->
