<!-- Fullwidth Slider -->
<div class="fullwidth-slider owl-carousel bg-lightblue">

    <!-- Slide Item -->
    <section class="page-section bg-lightblue white">
        <div class="container relative">

            <div class="row">

                <div class="col-md-7 mb-sm-40">

                    <!-- Work Image -->
                    <div class="work-full-media mt-0">
                        <img src="{{ site.baseurl }}/img/animation/animation-pd01.png" alt="" />
                    </div>
                    <!-- End Work Image -->

                </div>

                <div class="col-md-5 col-lg-4 col-lg-offset-1">

                    <!-- About Project -->
                    <div class="text">
                        <h3 class="mt-40 mb-xxs-10 white">El subsidio a los combustibles se encuentra altamente concentrado en pocas manos.</h3>
                    </div>
                    <!-- End About Project -->

                </div>

            </div>

        </div>
    </section>
    <!-- End Slide Item -->
    <!-- Slide Item -->
    <section class="page-section bg-lightblue white">
        <div class="container relative">

            <div class="row">

                <div class="col-md-7 mb-sm-40">

                    <!-- Work Image -->
                    <div class="work-full-media mt-0">
                        <img src="{{ site.baseurl }}/img/animation/animation-pd01.png" alt="" />
                    </div>
                    <!-- End Work Image -->

                </div>

                <div class="col-md-5 col-lg-4 col-lg-offset-1">

                    <!-- About Project -->
                    <div class="text">
                        <h3 class="mt-40 mb-xxs-10 white">El 1% de los beneficiarios que fueron más beneficiados por el subsidio de combustibles acumularon el 39% del presupuesto, lo que significa 77 beneficiarios que recibieron $1,245,734,231 de pesos.</h3>
                    </div>
                    <!-- End About Project -->

                </div>

            </div>

        </div>
    </section>
    <!-- End Slide Item -->



</div>
<!-- End Fullwidth Slider -->
