<!-- Fullwidth Slider -->
<div class="fullwidth-slider owl-carousel bg-lightblue">

    <!-- Slide Item -->
    <section class="page-section bg-lightblue white">
        <div class="container relative">

            <div class="row">

                <div class="col-md-6 mb-sm-40">

                    <!-- Work Image -->
                    <div class="work-full-media mt-0">
                        <img src="{{ site.baseurl }}/img/mala-reparticion01.svg" alt="" />
                    </div>
                    <!-- End Work Image -->

                </div>

                <div class="col-md-6 col-lg-4 col-lg-offset-1">

                    <!-- About Project -->
                    <div class="text">
                        <h3 class="mt-40 mb-xxs-10 white">El subsidio a los combustibles se encuentra altamente concentrado en pocas manos</h3>
                    </div>
                    <!-- End About Project -->

                </div>

            </div>

        </div>
    </section>
    <!-- End Slide Item -->
    <!-- Slide Item -->
    <section class="page-section bg-lightblue white">
        <div class="container relative">

            <div class="row">

                <div class="col-md-6 mb-sm-40">

                    <!-- Work Image -->
                    <div class="work-full-media mt-0">
                        <img src="{{ site.baseurl }}/img/mala-reparticion02.svg" alt="" />
                    </div>
                    <!-- End Work Image -->

                </div>

                <div class="col-md-6 col-lg-4 col-lg-offset-1">

                    <!-- About Project -->
                    <div class="text">
                        <h3 class="mt-40 mb-xxs-10 white">160 beneficiarios reciben la mitad del presupuesto</h3>
                    </div>
                    <!-- End About Project -->

                </div>

            </div>

        </div>
    </section>
    <!-- End Slide Item -->
    <!-- Slide Item -->
    <section class="page-section bg-lightblue white">
        <div class="container relative">

            <div class="row">

                <div class="col-md-6 mb-sm-40">

                    <!-- Work Image -->
                    <div class="work-full-media mt-0">
                        <img src="{{ site.baseurl }}/img/mala-reparticion03.svg" alt="" />
                    </div>
                    <!-- End Work Image -->

                </div>

                <div class="col-md-6 col-lg-4 col-lg-offset-1">

                    <!-- About Project -->
                    <div class="text">
                        <h3 class="mt-40 mb-xxs-10 white">mientras que la otra mitad se reparte entre 4,236 beneficiarios</h3>
                    </div>
                    <!-- End About Project -->

                </div>

            </div>

        </div>
    </section>
    <!-- End Slide Item -->



</div>
<!-- End Fullwidth Slider -->
