<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Tu, ¿qué podrías decir con estos datos?</h2>
        <p>Te invitamos a que revises las bases de datos oficiales de los subsidios pesqueros en México y a que des seguimiento a nuestros próximos análisis. Las bases de datos han sido normalizadas y estandarizadas para facilitar su reutilización y están disponibles para su consulta aquí. ¡Juntos, gobierno, sociedad y grupos interesados debemos buscar un mejor diseño y distribución de subsidios y del presupuesto público en la pesca!</p>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-2">
            <img src="{{ site.baseurl }}/img/doc.svg" alt="">
          </div>
          <div class="col-8">
            <h3>Revisa nuestra base de datos</h3>
            <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum.</p>
          </div>
          <div class="col-2">
            <img src="{{ site.baseurl }}/img/arrow.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
