<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-7">
        Gráfico
      </div>
      <div class="col-5">
        <h2 class="mb-30">¿Cómo se distribuye este subsidio?</h2>
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <p>Durante el periodo, 8 de cada 10 pesos fueron destinados al diesel marino, el cual se asigna entre las embarcaciones mayores y en menor medida en unidades acuícolas. </p>
              <p><a href="{{ site.baseurl }}/como-se-distribuye" class="blue-two"><img src="{{ site.baseurl }}/img/explora-datos.svg" alt=""> Explora los datos</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
