<section id="embarcaciones" class="bg-blue-five page-section">
  <div class="container">
    <h2 class="text-center mb-30">¿Cuánto reciben las embarcaciones?</h2>
    <h3 class="text-center blue-three mb-60">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum</h3>
    <div class="row">
      <div class="col-6">
        <h3>Embarcaciones mayores</h3>
        <p>En promedio, cada embarcación mayor recibió anualmente $XXX,XXX, por concepto del subsidio al diesel marino, con máximos por arriba de los X millones de pesos. El programa estipula un máximo de 4 millones de pesos por embarcación; de lo que resulta que XXXX empresas se situaron por arriba de este monto promedio.</p>
        <p><a href="{{ site.baseurl }}/embarcaciones" class="blue-two"><img src="{{ site.baseurl }}/img/explora-datos.svg" alt=""> Explora los datos</a></p>
      </div>
      <div class="col-6">
        <h3>Embarcaciones menores</h3>
        <p>De acuerdo a los datos oficiales, en promedio a cada embarcación menor se le otorgó un subsidio de $3,782 pesos anuales durante el periodo 2011 al 2016,con máximos por arriba de los $62,000 pesos. El monto máximo de apoyo  estipulado por el programa corresponde a $20,000, con 9 unidades económicas fuera de la regla. </p>
        <p><a href="{{ site.baseurl }}/embarcaciones" class="blue-two"><img src="{{ site.baseurl }}/img/explora-datos.svg" alt=""> Explora los datos</a></p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-4 text-right">
        <p class="mt-90">Monto anual por embarcación mayor</p>
        <h3><span class="badge badge-primary">Máximo</span> $xxxxxx</h3>
        <h3><span class="badge badge-secondary">Promedio</span> $xxxxxx</h3>
      </div>
      <div class="col-4">
        <img src="{{ site.baseurl }}/img/embarcaciones-mayores.svg" alt="">
        <img src="{{ site.baseurl }}/img/embarcaciones-menores.svg" alt="">
      </div>
      <div class="col-4">
        <p class="mt-100">Monto anual por embarcación menor</p>
        <h3>$xxxxxx <span class="badge badge-primary">Máximo</span></h3>
        <h3>$xxxxx <span class="badge badge-secondary">Promedio</span></h3>

      </div>
    </div>
  </div>
</section>
