<footer class="bg-blue-five page-section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <span class="small"><a href="https://www.facebook.com/causanatura/"><i class="fab fa-facebook-f"></i></a></span>
        <span class="small"><a href="https://twitter.com/CausaNatura"> <i class="fab fa-twitter"></i></a></span>
        <span class="small"><a href="#"> contacto@pescandodatos.org</a></span>
      </div>
      <div class="col-6">
        <span class="small">Pescando datos es un proyecto de <a href="http://causanatura.org/" target="_blank">Causa Natura</a></span>
      </div>
    </div>
  </div>

</footer>
