<footer class="bg-blue-five">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <span class="small">Un proyecto de </span>
        <span><a href="http://causanatura.org/" target="_blank"><img src="{{ site.baseurl }}/img/causanatura.svg" alt="Causa Natura"> </a></span>
        <span><a href="http://fundar.org.mx/" target="_blank"><img src="{{ site.baseurl }}/img/fundar.svg" alt="Fundar"> </a></span>
        <span><a href="http://datamares.ucsd.edu/" target="_blank"><img src="{{ site.baseurl }}/img/datamares.svg" alt="DataMares"> </a></span>
      </div>
      <div class="col-4 text-right">
        <span class="small"><a href="https://www.facebook.com/causanatura/"><i class="fab fa-facebook-f"></i></a></span>
        <span class="small"><a href="https://twitter.com/CausaNatura"> <i class="fab fa-twitter"></i></a></span>
        <span class="small"><a href="mailto:contacto@pescandodatos.org" target="_blank"><i class="fas fa-paper-plane"></i></a></span>
      </div>
    </div>
  </div>

</footer>
