<!-- Navigation panel -->
<nav class="main-nav dark transparent stick-fixed">
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="{{ site.baseurl }}" class="logo">
                <img src="{{ site.baseurl }}/img/logo-pdatos.svg" alt="" />
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">

                <!-- Item With Sub -->
                <li>
                    <a href="#" class="mn-has-sub">Subsidios <i class="fa fa-angle-down"></i></a>

                    <!-- Sub -->
                    <ul class="mn-sub">

                        <li>
                            <a href="#" class="mn-has-sub">Subsidio a combustibles</a>
                        </li>

                        <li>
                            <a href="#" class="mn-has-sub">Subsidio a ... <label for="">Próximamente</label> </a>
                        </li>

                    </ul>
                    <!-- End Sub -->

                </li>
                <!-- End Item With Sub -->

                <li>
                    <a href="{{ site.baseurl }}/quienes-somos" class="mn-has-sub">Quiénes somos</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/sobre-el-proyecto.html">Sobre el proyecto</a>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Base de datos</a>
                </li>

            </ul>
        </div>
        <!-- End Main Menu -->


    </div>
</nav>
<!-- End Navigation panel -->
