<!-- Home Section -->
<section class="home-section bg-dark-alfa-90 parallax-2" data-background="{{ site.baseurl }}/img/hero.png" id="home">
    <div class="js-height-full">

        <!-- Hero Content -->
        <div class="home-content container">
            <div class="home-text">

                <h3 class="mb-50 mb-xs-30 text-center">
                    A través del análisis de datos queremos descubrir
                </h3>

                <h1 class="mb-50 mb-xs-30 text-center">
                    ¿La repartición de los subsidios a la pesca en México produce beneficios sociales?
                </h1>

                <div class="row">
                  <div class="col-6">
                    <p>Los subsidios a la pesca, son recursos públicos que proveen beneficios al sector privado pesquero. Su aplicación debe contemplar una identificación metódica de sus efectos para asegurar que producen beneficios sociales, evitando consecuencias negativas tanto económicas, como en la sustentabilidad de los recursos pesqueros.</p>
                  </div>
                </div>

            </div>
        </div>
        <!-- End Hero Content -->

        <!-- Scroll Down -->
        <div class="local-scroll">
            <a href="#intro" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
        </div>
        <!-- End Scroll Down -->

    </div>
</section>
<!-- End Home Section -->
