<section id="intro" class="page-section bg-blue">
  <div class="container relative">
    <h2 class="text-center mb-70 mb-sm-40">Subsidios para Combustibles</h2>
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="row">
          <div class="col-4">
            <img src="{{ site.baseurl }}/img/graph01.svg" alt="">
          </div>
          <div class="col-8">
            <h4>monto total de subsidios a la pesca que corresponde a combustibles</h4>
            <p class="small">Subsidios otorgados por la CONAPESCA (2011-2016)</p>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-12">
        <p>En México, el subsidio al combustible fue el apoyo al que se le destinaron mayores recursos entre 2011 y 2016. Este se cataloga dentro de los subsidios que incrementan de forma directa la capacidad pesquera y con ello, la probabilidad de llevar a las pesquerías a una sobre-explotación.</p>
        <p>Actualmente existe un consenso sobre la necesidad de redireccionar los subsidios invertidos en combustibles por considerarse dañinos, aprobando su uso solo de forma temporal para resolver problemas coyunturales y acompañados de regulación pesquera. Esto implica un rechazo a su empleo como una transferencia permanente que no atiende a los sectores más desprotegidos.</p>
      </div>
    </div>
  </div>
</section>
