<section id="embarcaciones" class="page-section">
  <div class="container">
    <h2 class="text-center mb-60">¿Quién recibe subsidios en tu localidad?</h2>
    <div class="row">
      <div class="col-8">
        Gráfico
      </div>
      <div class="col-4">
        <p>Ahora puedes saber quien ha recibido subsidios para combustibles en tu localidad. Utilizando el mapa puedes explorar los datos e informarte. ¡Busca tu localidad!</p>
        <p><a href="{{ site.baseurl }}/por-localidad" class="blue-two"><img src="{{ site.baseurl }}/img/explora-datos.svg" alt=""> Busca tu localidad</a></p>
      </div>
    </div>
  </div>
</section>
