// Paleta abre
$light-blue: #3FA9F5;
$orange: #FF5722;
$green: #29CDB5;
$light-orange: #FF8964;
$gray-one: #2D4059;
$gray-two: #6C798A;
$gray-three: #B1BBC9;
$gray-four: #E1EAF7;
$gray-five: #F4F9FF;

// Letras
$nunito: 'Nunito', sans-serif;
$opensans: 'Open Sans', sans-serif;
