<!doctype html>
{% include head.html %}

<body>
    <script type="text/javascript">
    var data = {{site.data.data | jsonify}};
    </script>

    {{ content }}

    <!-- JS -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.appear.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/gmap3.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/wow.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/all.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/contact-form.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.ajaxchimp.min.js"></script>

</body>
{% include footer.html %}
</html>

{% include footer.html %}
